@import url('https://unpkg.com/css.gg@2.0.0/icons/css/close-o.css');

body {
  margin: 0;
  background-image: url('components/images/background.png');
  background-size: auto;
  font-family: 'Glegoo', serif;
}

/*HOME*/
main {
  background-color: rgba(180, 165, 165, 0.60);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 60px 20px;
  text-align: center;
  border-radius: 20px;
  font-family: 'Glegoo', serif;
  height: 700px;
}

h1 {
  font-size: 70px;
  font-weight: lighter;
  font-family: 'Satisfy', cursive;
  color: #301B3F;
  margin-bottom: 0px;
  margin-top: 0px;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

#slogan-home {
  margin-top: 0px;
  color: #301B3F;
  font-size: large;
  font-weight: bolder;
}

#logo-home {
  width: 280px;
  height: auto;
  margin-top: 10px;
  padding-bottom: 40px;
}

.btn-home-login,
.btn-home-join,
.btn-home-google {
  font-family: 'Glegoo', serif;
  color: #301B3F;
  background-color: #B4A5A5;
  border-radius: 40px;
  padding: 5px;
  width: 300px;
  font-weight: bolder;
  margin-top: 15px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

/*LOGIN - JOIN*/
h3 {
  font-size: 35px;
  font-family: 'Glegoo', serif;
  color: #301B3F;
  font-weight: bolder;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

#logo-login-join {
  width: 230px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.input-login-join-name,
.input-login-join-email,
.input-login-join-password,
.input-login-email,
.input-login-password {
  font-family: 'Glegoo', serif;
  background-color: #B4A5A5;
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 40px;
  padding: 5px;
  width: 300px;
  font-weight: bolder;
  margin-top: 15px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.forgot-password {
  margin-top: 15px;
  font-size: 18px;
  display: flex;
  font-family: 'Glegoo', serif;
  font-weight: bolder;
  color: #301B3F;
  background: none;
  border: none;
  cursor: pointer;
}

.buttonEnd {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 280px;
}

.button-login,
.button-return,
.btn-post {
  font-family: 'Glegoo', serif;
  color: #B4A5A5;
  background-color: #301B3F;
  border-radius: 30px;
  padding: 3px;
  width: 100px;
  font-weight: lighter;
  font-size: 17px;
  border: none;
  margin-top: 50px;
  cursor: pointer;
}

.button-back {
  width: 250px;
}

.button-login:hover,
.button-return:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

/*MODAL*/
.modal, .edit-box {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content, .edit-box-content {
  background-color: #B4A5A5;
  color: #301B3F;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
}

.modal-content p {
  font-size: 0.8rem;
  font-weight: bolder;
  margin-top: 15px;
}

.modal-title {
  font-size: 25px;
  font-weight: bolder;
  font-family: 'Satisfy', cursive;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 35px;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-input, .edit-title, .edit-text {
  font-family: 'Glegoo', serif;
  width: 250px;
  height: 30px;
  background-color: #DAC7C7;
  border-radius: 20px;
  padding: 3px;
  border: 2px solid transparent;
  font-size: 0.7rem;
  text-align: center;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.edit-text, .edit-title {
  resize: none;
  border-radius: 10px;
  margin: 10px;
}

.modal-btn,
.btn-post,
.modal-btn-ok,
.modal-btn-cancel,
.confirm-edit,
.cancel-edit {
  margin-top: 20px;
  border-radius: 10px;
  color: #B4A5A5;
  background-color: #301B3F;
  border: none;
  padding: 1px;
  width: 85px;
  height: 30px;
  font-family: 'Glegoo', serif;
  font-size: 0.7rem;
}

.gg-close-o {
  box-sizing: border-box;
  position: absolute;
  left: 70%;
  bottom: 87%;
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 40px
}

.gg-close-o:hover {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

/*TIMELINE*/

.timeline-title {
  font-size: 1.5rem;
  font-weight: lighter;
  font-family: 'Satisfy', cursive;
  color: #B4A5A5;
  align-self: flex-end;
  position: absolute;
  top: 0;
  margin-top: 15px;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-timeline {
  background: none;
}

.main-section {
  background-color: rgba(180, 165, 165, 0.60);
  height: 14.2rem;
  border-radius: 20px;
  position: absolute;
  top: 10%;
  margin: 0px 20px;
}

.main-section p {
  color: #301B3F;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0;
}

.post-title,
.post-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Glegoo', serif;
  width: 90%;
  height: 10%;
  background-color: rgba(242, 230, 230, 0.60);
  opacity: 80%;
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 0.7rem;
  font-weight: bold;
  color: black;
  text-align: start;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 10px;
}

.post-body {
  height: 30%;
  resize: none;
}

.btn-post {
  margin-top: 15px;
  position: relative;
  left: calc(40% - 20px);
}

.open {
  position: absolute;
  top: 0.5rem;
  left: 1.2rem;
}

.open div {
  width: 30px;
  height: 4px;
  background-color: #B4A5A5;
  margin: 5px;
  border-radius: 3px;
}

/*All Posts*/
.post {
  background-color: rgba(180, 165, 165, 0.60);
  border-radius: 20px;
  text-align: justify;
  padding: 5%;
  margin-top: 50px;
}

.post-all-users {
  display: block;
}

.post-by-user {
  display: none;
}

.author {
  font-family: 'Satisfy', cursive;
  font-size: 1.3rem;
  background-color: #B4A5A5;
  display: flex;
  justify-content: center;
  border-radius: 5rem;
}

.title-post {
  font-size: 1rem;
  color: #DAC7C7;
  border-radius: 5rem;
  background-color: #301b3fb6;
  display: flex;
  justify-content: center;
  text-shadow: none;  
}

.content {
  background-color: rgba(242, 230, 230, 0.60);
  border-radius: 10px;
  padding: 3%;
  text-align: center;
}

.divEndPost{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 1.7rem;
  margin-top: 1rem;
}

.divReaction{
  background-color: #301B3F;
  border-radius: 10px;
  width: 4rem;
  display: flex;
  justify-content: center;
}

.divDeleEdit{
  display: flex;
  justify-content: space-around;
  width: 80px;
}

.reaction-button {
  text-decoration: none;
  color: #B4A5A5;
  border: none;
  background: #301B3F;
}

.img-endPost{
  width: 25px;
  height: auto;
}

/*NAVBAR*/

.nav-links {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  font-family: 'Glegoo', serif;
  border-radius: 10px;
  padding: 3px;
  border: none;
  font-size: 0.8rem;
  text-align: center;
  /*margin-top: 10px;*/
  margin-left: 8px;
}

.nav-links a {
  display: flex;
  flex-direction: row;
  font-size: medium;
  padding: 5px;
}

.sidenav {
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #1B1021;
  overflow-x: hidden;
  padding-top: 5rem;
  transition: 0.5s;
  display: none;
  justify-content: space-around;
}

.sidenav .gg-close-o {
  display: flex;
  align-self: flex-start;
  margin-bottom: 20%;
  color: #B4A5A5;
  cursor: pointer;
}

.buttons-nav:hover,
.sidenav .gg-close-o:hover,
.sign-out-button:hover {
  color: #f1f1f1;
}

.buttons-nav, .sign-out-button {
  font-family: 'Glegoo', serif;
  background: none;
  border: none;
  color: #B4A5A5;
  font-size: 1rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-top: 5rem;
}

.icon-navbar {
  width: 27px;
  height: 27px;
  padding: 5px;
}

.sign-out-div {
  margin-top: 30rem;
  margin-left: 1%;
  display: flex;
  justify-content: center;
}

.sign-out-icon {
  width: 35px;
  cursor: pointer;
}

.sign-out-button {
  width: auto;
  font-size: 0.8rem;
}

.div-profile,
.div-home,
.user-posts,
.div-new-posts {
  display: flex;
  justify-content:start;
  flex-direction: row;
  padding: 5px;
}

/* PERFIL */
.main-perfil{
  background-color: rgba(180, 165, 165, 0.60);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 80px 20px;
  text-align: center;
  border-radius: 20px;
  font-family: 'Glegoo', serif;
  height: 700px;
}

.divInfoUser{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50rem;
  width: 18rem;
  margin-top: 3rem;
}

.photo-user{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid #1B1021;
  border-style:groove;
  border-width: 0.2rem;
}

.user-photo-img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-width: 0.2rem;
}

.user-noPhoto{
  width: 170px;
  height: auto;
  border-width: 0.2rem;
  margin-top: 2.2rem;
}

.name-user, .mail-user{
  background-color: #B4A5A5;
  border-radius: 10rem;
  border: none;
  height: 2rem;
  width: 100%;
  font-size: 0.9rem;
  color:#301B3F;
  font-weight: bold;
  padding-left: 0.5rem;
}

.div-email-text, .div-name-text{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1.3rem;
  width: 75%;
}

.text-input{
  display: flex;
  align-items: start;
  margin-bottom: 0;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: lighter;
  color: #301B3F;
  width: 15rem;
}